<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBurger - Flex & Grid 2025</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

<!-- Incluir os links para CSS (pode ter mais arquivos ou arquivos com nomes diferentes) -->
    <link rel="stylesheet" href="/static/src/css/reset.css" />
    <link rel="stylesheet" href="/static/src/css/variables.css" />
    <link rel="stylesheet" href="/static/src/css/main.css" />
    <link rel="stylesheet" href="/static/src/css/media.css" />
  </head>
  <body>

{% extends "layout.html" %}

{% block conteudo %}
    
<!-- Banner -->
    <section class="banner">
      <div class="banner__content">
        <h1 class="banner__title">
          Code & <span class="banner__title--highlight">Flavor</span>
        </h1>
        <p class="banner__subtitle">
          O melhor hambúrguer da cidade compilado para você.
        </p>
      </div>
    </section>

<!-- Escolha Rápida  -->
    <section class="categories">
      <div class="categories__container">
        <h2 class="categories__title">Escolha Rápida</h2>

        {% for produto in produtos %}
        {% if produto.disponibilidade %}
        <div class="categories__list">
          <div class="category-item">
            <img src="{{produto.foto}}" alt="Lanche 1" class="category-item__img"/>
            <button onclick="inserirItemCarrinho({{produto.codigo}})" class="button--small">EU QUERO</button>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

<!-- Produtos do Menu -->
    <section class="products" id="menu">
      <div class="products__container">
        <h2 class="products__title">Nossos Destaques</h2>

        <div class="products__grid">
          {% for produto in produtos %}
          {% if produto.disponibilidade %}
          <article class="card" id="lanche-{{produto.codigo}}">
            <div class="card__image-wrapper">
              <img
                src={{produto.foto}}
                alt="Classic Dev"
                class="card__image"
              />
            </div>
            
            <div class="card__body">
              <h3 class="card__title">{{produto.produto}}</h3>
              <p class="card__description">
                {{produto.descricao}}
              </p>
              <div class="card__footer">
                <span class="card__price">R$ {{produto.preco}}</span>
                <a href="/produto/{{produto.codigo}}"><button class="button button--small">Comprar</button></a>
              </div>
            </div>
          </article>
          {% endif %}
          {% endfor %}
        </div>

        <div style="text-align: center; margin-top: 40px">
          <a href="#menu" class="button button--primary"
            >Voltar para Destaques</a
          >
        </div>
      </div>
    </section>



    <aside class="cart-sidebar" id="shopping-cart">
        <div class="cart-sidebar__header">
            <h2 class="cart-sidebar__title">Meu Carrinho</h2>
            <span class="material-symbols-outlined cart-sidebar__close" id="close-cart">close</span>
        </div>
        <div class="cart-sidebar__content" id="carrinho">

        </div>
        <div class="cart-sidebar__footer">
            <div class="cart-total">
                <span>Total:</span>
                <span class="cart-total__value"></span>
            </div>
            <button class="button button--primary cart-checkout-btn">Finalizar Pedido</button>
        </div>
    </aside>



    {% endblock %}


  </body>
</html>