<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBurger - Flex & Grid 2025</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

<!-- Incluir os links para CSS (pode ter mais arquivos ou arquivos com nomes diferentes) -->
    <link rel="stylesheet" href="/static/src/css/reset.css" />
    <link rel="stylesheet" href="/static/src/css/variables.css" />
    <link rel="stylesheet" href="/static/src/css/main.css" />
    <link rel="stylesheet" href="/static/src/css/media.css" />
    {% block css_adicional %}
    {% endblock %}
  </head>
  <body>

  <!-- Header e Navbar -->
    <header class="header">
      <div class="header__container">
        <a href="/" class="header__logo">DevBurger</a>

        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item">
              <a href="/" class="header__link">Home</a>
            </li>
            <li class="header__item">
              <a href="#menu" class="header__link">Cardápio</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Sobre</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Contato</a>
            </li>
          </ul>
        </nav>

       
        
        {% if request.path != '/login' and request.path != '/cadastro' %}
        <div class="header__auth">
          
          <span class="material-symbols-outlined carrinho_icon">
            shopping_cart
          </span>


          {% if session['usuario_logado'] %}
          <div class="header__user">
            <a href="/perfil" class="header__user-btn">
              <span class="material-symbols-outlined">account_circle</span>
              <span>{{session['usuario_logado']}}</span>
            </a>

            <a href="/logout" class="header__logout-btn">
              Sair
            </a>
          </div>
          {% else %}
          <a href="/login" class="header__btn header__btn--login">Entrar</a>
          {% endif %}
        </div>
        {% endif %}

        <button class="header__toggle">
          <span class="material-symbols-outlined">menu</span>
        </button>
      </div>
    </header>
    

    {% block conteudo %} {% endblock %}


<!-- Rodapé -->
    <footer class="footer">
      <p class="footer__text">
        DevBurger © 2025. Todos os direitos reservados.
      </p>
    </footer>
  </body>
</html>